<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606764946846-u2404iqah9aahccf19ipd0nrlfiukdnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606764946846-u2404iqah9aahccf19ipd0nrlfiukdnf</string>
	<key>API_KEY</key>
	<string>AIzaSyDAUnTCmuh3JU_G1FYTq1r92sYwkcdiuL4</string>
	<key>GCM_SENDER_ID</key>
	<string>606764946846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.pro-billard.straight-pool-sheet</string>
	<key>PROJECT_ID</key>
	<string>straight-pool-sheet</string>
	<key>STORAGE_BUCKET</key>
	<string>straight-pool-sheet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606764946846:ios:98abf624b634221a84728f</string>
	<key>DATABASE_URL</key>
	<string>https://straight-pool-sheet.firebaseio.com</string>
</dict>
</plist>